@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #0a0a0a;
  --primary: #7799dc;
  --secondary: #d1d1d1;

  .dark {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
    --primary: #7799dc;

    --secondary: #2a2a2a;
  }
}